<div class="container">
    <h1>Pannello Admin</h1>
    <p>Benvenuto nell'area riservata agli amministratori.</p>
    <button onclick="window.location.href='dashboard.html'">
      Torna alla Dashboard
    </button>

    <div class="widgets-container">
      <!-- Widget: Gestione Utenti -->
      <div class="widget">
        <h2>Gestione Utenti</h2>
        <!--            meglio tenerlo disattivo-->
        <!--            <button onclick="deleteAllUser()">Elimina Tutti</button>-->
        <table id="user-table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Ruolo</th>
              <th>Delete</th>
              <th>Add Admin</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Widget: Gestione Azioni -->
      <div class="widget">
        <h2>Gestione Azioni</h2>
        <form onsubmit="createAction(event)">
          <input
            type="text"
            id="new-action-name"
            placeholder="Nome Azione"
            required
          />
          <input
            type="text"
            id="new-action-description"
            placeholder="Descrizione Azione"
          />
          <input
            type="number"
            id="new-action-punteggio"
            placeholder="Punteggio Azione"
            required
          />
          <button type="submit">Crea Azione</button>
        </form>

        <input type="file" id="fileAzioniInput" accept=".csv" onchange="toggleButtonAzioniState()">
        <button id="uploadAzioniButton" onclick="uploadAzioniFile()" disabled>Carica Azioni</button>

        <table id="action-table">
          <thead>
            <tr>
              <th>Nome Azione</th>
              <th>Descrizione</th>
              <th>Punteggio</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Widget: Gestione Personaggi -->
      <div class="widget">
        <h2>Gestione Personaggi</h2>
        <form onsubmit="createPersonaggio(event)">
          <input
            type="text"
            id="new-personaggio-name"
            placeholder="Nome Personaggio"
            required
          />
          <input
            type="text"
            id="new-personaggio-description"
            placeholder="Descrizione Personaggio"
          />
          <input
            type="number"
            id="new-personaggio-costo"
            placeholder="Costo Personaggio"
            required
          />
          <button type="submit">Crea Personaggio</button>
        </form>
        <table id="character-table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Costo</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Widget: Configurazioni Campionato -->
      <div class="widget">
        <h2>Configurazioni Campionato</h2>
        <table id="configurazioni-campionato-table">
          <thead>
            <tr>
              <th>Chiave</th>
              <th>Valore</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Numero Personaggi per Squadra</td>
              <td><input type="text" id="numero-personaggi-per-squadra" placeholder="5"/></td>
            </tr>
            <tr>
              <td>Budget Crediti</td>
              <td><input type="text" id="budget-crediti" placeholder="160"/></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" onclick="aggiornaConfigurazione()">Aggiorna valori configurazione</button>
      </div>

      <!-- Widget: Gestione Azioni Personaggi -->
      <div class="widget">
        <h2>Gestione Azioni Personaggi</h2>
        <table id="character-action-table">
          <thead>
          <tr>
            <th>Nome Personaggio</th>
            <th>Azione</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Modale per assegnazione azione -->
      <div id="assignModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h3>Assegna Azione a [Personaggio]</h3>
          <select id="action-select">
            <option value="">Seleziona un'azione</option>
          </select>
          <button onclick="assignAction()">Conferma</button>
        </div>
      </div>


    </div>


    </div>